*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

th, td {
    padding: 1em;
}

.container {
    width: 100vw;
}

tr#cabecalho{
    background-color: aqua;
}

tr#conteudo {
    text-align: center;        
}

@media (max-width:320px){

    .container {
        width: 100vw;
    }

  
}